/* Fonts */

/* Tabler */

@font-face {
	font-family: "Tabler";
	src: url('/fonts/tabler/tabler-icons.ttf') format("truetype");
}

/* Inter */

@font-face {
	font-family: "Inter Regular";
	src: url('/fonts/inter/Inter-Regular.ttf') format("truetype");
}

@font-face {
	font-family: "Inter Medium";
	src: url('/fonts/inter/Inter-Medium.ttf') format("truetype");
}

@font-face {
	font-family: "Inter Thin";
	src: url('/fonts/inter/Inter-Thin.ttf') format("truetype");
}

@font-face {
	font-family: "Inter Light";
	src: url('/fonts/inter/Inter-Light.ttf') format("truetype");
}

@font-face {
	font-family: "Inter Black";
	src: url('/fonts/inter/Inter-Black.ttf') format("truetype");
}

@font-face {
	font-family: "Inter Bold";
	src: url('/fonts/inter/Inter-Bold.ttf') format("truetype");
}

@font-face {
	font-family: "Inter ExtraBold";
	src: url('/fonts/inter/Inter-ExtraBold.ttf') format("truetype");
}

@font-face {
	font-family: "Inter SemiBold";
	src: url('/fonts/inter/Inter-SemiBold.ttf') format("truetype");
}