@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {

    /* Fonts */

    --font-inter-black: "Inter Black";
    --font-inter-extrabold: "Inter ExtraBold";
    --font-inter-bold: "Inter Bold";
    --font-inter-semibold: "Inter SemiBold";
    --font-inter: "Inter Regular";
    --font-inter-medium: "Inter Medium";
    --font-inter-light: "Inter Light";
    --font-inter-thin: "Inter Thin";

    --font-monospace: "Courier New", Courier, monospace;

    --font-tabler: "Tabler";

    /* Colors */

    --color-primary: #a58fff;
    --color-secondary: #fd8fff;
    --color-darker: #191A1B;

    /* Shadows */

    --inset-shadow-bottom: inset 0 -20px 20px -15px rgba(0, 0, 0, 0.3); 

}